html {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

:focus {
    outline: none !important;
}
@font-face {
    font-family: 'F37 Ginger';
    src: url('files/F37Ginger.woff2') format('woff2'),
        url('files/F37Ginger.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    min-height: 200vh;
    background-color: rgb(32, 33, 36);
    font-family: 'F37 Ginger';
    font-weight: normal;
    font-style: normal;
    color: white;   
    letter-spacing: 2px;
}

h1 {
    font-size: clamp(1rem, 10vw, 6rem);
}

h2 {
    font-size: 50px;
}

p {
    font-size: clamp(0.5rem, 10vw, 1.5rem);
}

.title {
    margin: auto;
    padding: 20vh 0;
    text-align: center;
    position: relative;
}

.arrow {
    font-size: clamp(3rem, 10vw, 6rem);
    color: rgb(150, 150, 150);
    text-decoration: none;
    text-align: center;
    width: clamp(2rem, 10vw, 6rem)*10;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: bounce 1.5s ease infinite;
    transition: color ease-in-out 0.5s;
}

.arrow:hover{
    color: white;
    animation: none;
}

@keyframes bounce {
    0%, 25%, 55%, 75%, 100%{
        transform: translateY(0);
    }
    45%{
        transform: translateY(-20px);
    }
    65%{
        transform: translateY(-10px);
    }
    85%{
        transform: translateY(-5px);
    }
}

.button {
    font-size: 70px;
    color: white;
    text-decoration: none;
    text-align: center;
    position: relative;
    top: 1200px;
    left: 25%;
    transform: translateX(-25%) translateY(-40%)
}

/*SCROLLING STYLE*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: rgb(32, 33, 36);
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 6px;
}

/*NAV STYLE*/

header {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    width: 100%;
}

header::after {
	content: '';
	display: table;
	clear: both;
}

nav ul {
	margin-left: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-left: 40px;
    padding-top: 27px;
	position: relative;
	margin-right: 40px;
}

nav a {
	color: rgb(150, 150, 150);
	text-decoration: none;
	font-size: 30px;
    transition: color ease-in-out 0.5s;
}

nav a:hover{
    color: white;
}

#linked:hover{
    color: rgb(0, 114, 177)
}
#linked::before{
    content: '';
	display: block;
	height: 5px;
    border-radius: 20px;
	width: 0%;
	background-color: rgb(0, 114, 177);
	position: absolute;
	top: 30px;
	transition: all ease-in-out 0.5s;
}
#linked:hover::before {
	width: 100%;
	color: rgb(0, 114, 177)
}
nav a::before {
	content: '';
	display: block;
	height: 5px;
    border-radius: 20px;
	width: 0%;
	background-color: white;
	position: absolute;
	top: 30px;
	transition: all ease-in-out 0.5s;
}

nav a:hover::before {
	width: 100%;
	color: white
}

#grey{
    filter: brightness(0.75);
    transition: all ease-in-out 0.4s;
}

#grey:hover{
    filter: none;
    transform: scale(1.1);
    transition: all ease-in-out 0.4s;
}

.contact {
    position: relative;
    margin-top: 10%;
    padding-bottom: 8%;
    top: 100vh;
    width: 100%;
    background-color: rgb(150, 150, 150);
    color: black;
}

.download {
    text-decoration: none;
    color: white;
    transition: all ease-in-out 0.2s;
}

.download:hover{
    color: #84c2f5;
    transition: all ease-in-out 0.2s;
}